html,body {
	width: 100%;
	height: 100%;
}

body {
  /* width: 500px;
  height: 500px; */
  background: #FEA1A9;
}

img {
	border-radius: 20px;
}

.pic {
	width: 1450px;
	margin-top: 50px;
	margin-left: 280px;
}
.container {
  width: 100%;
  height: 1060px;
  /* border: solid blue 1px; */
	padding: 40px;
}

h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 36pt;
  text-align: left;
	font-weight: bold;
}

p {
  margin-top: 30px;
  font-size: 24pt;
  font-family: 'Manrope', sans-serif;
  text-align: left;
	line-height: 1.5;
}

p2 {
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
  text-align: left;
  margin-top: 50px;
  padding: 40px;
}

.title {
  font-family: 'Manrope', sans-serif;
  font-size: 20pt;
  margin: 30px;
  margin-left: 50px;
  size: 300px;
  position: fixed;
  top: 0;
  color: white;
}

.navbar {
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
  font-size: 14pt;
  color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  margin: 20px;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px;
  margin-right: 60px;
  text-decoration: none;
}

.box {
  text-align: center;
  height: 340px;
  width: 1350px;
  background: white;
  margin-top: 10px;
  margin-left: 280px;
  padding: 50px;
	border-radius: 20px;
}

.y1 {
  position: relative;
  display: inline-block;
  font-family: 'Manrope', sans-serif;
  padding-top: 24px;
  font-size: 20pt;
  color: white;
  height: 55px;
  width: 240px;
  background: #F7D32E;
  /* margin-left: 10px; */
  text-align: center;
	border-radius: 20px;
}

.y2 {
  position: relative;
  display: inline-block;
  font-family: 'Manrope', sans-serif;
  padding-top: 24px;
  font-size: 20pt;
  color: white;
  height: 55px;
  width: 240px;
  background: #F7D32E;
  margin: 200px;
  margin-top: 45px;
  text-align: center;
	border-radius: 20px;
}

.y3 {
  position: relative;
  display: inline-block;
  font-family: 'Manrope', sans-serif;
  padding-top: 24px;
  font-size: 20pt;
  color: white;
  height: 55px;
  width: 240px;
  background: #F7D32E;
  text-align: center;
	border-radius: 20px;
}
